/node_modules
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
/.next/
/out/
/build
npm-debug.log*
.pnpm-debug.log*

.env*.local
.env
.env*
i hate my life

.vercel

*.tsbuildinfo
next-env.d.ts